@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

h3 {
    font-size: 13px;
    margin: 7px 0px;
}

.wrapper {
    background-color: #000000;
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/001/987/871/original/abstract-black-stripes-diagonal-background-free-vector.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcon {
    width: 370px;
    height: 750px;
    border: 1px solid #ffffff;
    box-shadow: 2px 1px 5px black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(39, 36, 36, 0.9);
    color: #ffffff;
    transition: all 1s ease;
}

.pcon:hover {
    background-color: rgba(39, 36, 36, 0.7);
    transition: all 1s ease;
    text-shadow: 2px 1px 5px black;
}

.textfield {
    height: 40px;
    width: 270px;
    text-indent: 10px;
    border-radius: 10px;
    border: none;
}

.textfield:focus {
    outline: 2px solid #ffffff;
}

.btn {
    height: 50px;
    width: 274px;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    transition: all 600ms ease-out;
}

.btn:hover {
    background-color: rgba(168, 76, 76, 0.534);
    cursor: pointer;
}

.btn:active {
    color: rgb(208, 101, 101);
    background-color: white;
}

.inputs {
    margin: 35px 0px;
}


.forgot {
    position: relative;
    transform: translate(175px, 0px);
    font-size: 10px;
    text-decoration: underline;
}

.forgot:hover {
    color: white;
    cursor: pointer;
}


.checkbox {
    margin-top: 20px;
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
}

.login{
    color: white;
    text-decoration: none;
}

.login:hover{
    color: rgb(156, 156, 156);
    text-decoration: none;
}